*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.logo {
    font-size: 1.2rem;
    font-weight: 500;
}

.gray {
    color: gray;
    transition-duration: 0.4s;
}

nav a, nav span{
        font-size: 1.2rem;
}

nav {
    width: min(1350px, 100%);
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.img_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

nav>ul>li, nav>ul>div>li {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

nav ul li:first-child {
    margin-right: auto;
}

.drop a {
    display: block;
    padding: 0.25rem;
}

nav {
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

.dropdown .drop {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
    margin-right: auto;
    margin-top: 0.75rem;
}

.dropdown:hover .drop {
    display: flex;
}

.gray:hover {
    color: rgb(57, 57, 57);
}

.sidebar {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    background-color: #ececec;
}

.sidebar .up {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.29rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    background-color: #ececec;
}

.sidebar .down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    height: 100%;
    margin-bottom: 5rem;
}

.sidebar .down .dropdown-menu {
    margin-left: auto;
    margin-right: auto;
}

.try {
    width: 90%;
    height: auto;
    background-image: url(https://cdn.prod.website-files.com/66563d83090173fa830e5776/67fd4bc9e6ac1e1b98cf4330_industry-bg-2.jpg);
    border-radius: 35px;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin-bottom: 2rem;
}

.try .inner {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 35px;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
    padding: 20px;
    margin: 2rem 1.3rem;
    
}

.try .inner .price {
    font-size: 48px;
}

.try .inner .try-btn {
    background-color: rgb(53, 53, 53);
    border-radius: 30px;
    padding: 1rem;
    color: #ececec;
}

.sidebar .down .dropdown-menu .drop-menu {
    background-color: #e0e0e0;
    justify-content: center;
    border-radius: 35px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    padding: 1rem 1.5rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.sidebar .down .dropdown-menu .drop-menu a {
    display: block;
}

.menu-btn {
    display: none;
}

h1 {
    text-align: center;
    margin: 1rem auto;
    font-weight: 300;
    max-width: 700px;
    font-size: min(5vw, 70px);
}

h1:first-child {
    color: #c0c0c0;
}

.hero-block {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-block p {
    text-align: center;
    padding: 1rem;
    max-width: 600px;
    font-size: 20px;
    margin: 0 auto;
    color: gray;
}

.hero-block .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1.7rem auto;
}

.hero-btn-one {
    background-color: rgb(53, 53, 53);
    padding: 0.8rem;
    border-radius: 40px;
    color: #ececec;
    transition: 0.5s;
}

.hero-btn-two {
    background-color: #c0c0c0;
    padding: 0.8rem;
    border-radius: 40px;
    transition: 0.5s;
}

.hero-btn-two:hover {
    background: rgb(53, 53, 53);
    color: #ececec;
}

.hero-btn-one:hover {
    background-color: rgb(98, 98, 98);
}

.get-started-btn {
    background-color: #c0c0c0;
    border-radius: 40px;
    transition-duration: 0.5s;
    padding: 0.8rem;
}

.get-started-btn:hover {
    background-color: rgb(53, 53, 53);
    color: #ececec;
}

.hero-img {
    width: 90vw;
    height: 60vw;
    max-height: 600px;
    border-radius: 30px;
    margin: 1.5rem 0;
    max-width: 1300px;
    background-image: url(https://cdn.prod.website-files.com/66563d83090173fa830e5776/67e1c5a3544c6b674fb8068b_Hero-BG.jpg);
    background-size: cover;
    transition: 0.5s;
}

.flow-block p {
    color: gray;
}

.hero-img:hover {
    box-shadow: 0px 0px 40px 6px rgb(157, 202, 223);
}

.flow-block {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flow-block > h2, .flow-block > p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 85vw;
    max-width: 950px;
}

.flow-block > h2 {
    margin-bottom: 1rem;
    font-size: 26px;
    font-weight: 300;
}

.flow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem 0.7rem;
}

.flow-item {
    background-color: #ececec;
    padding: 1.2rem 1rem;
    border-radius: 30px;
    width: 90vw;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
    gap: 1rem;
}

.short {
    border: none;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.short h3, .short p {
    transition-duration: 0.4s;
}

.short h3 {
    font-size: 1.2rem;
    font-weight: 300;
    color: gray;
}

.short:hover h3, .short:hover p{
    color: rgb(52, 52, 52);
}

.long ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: gray;
}

.long {
    display: none;
    flex-direction: column;
    transition: 0.4s;
}

.learn-more-btn {
    width: 100%;
    background-color: #ececec;
    text-align: center;
    margin: 0 auto;
    padding: 0.7rem;
    border-radius: 40px;
    transition-duration: 0.4s;
}

.learn-more-btn:hover {
    background-color: rgb(53, 53, 53);
    color: #ececec;
}

.active {
    background-color: #d6d6d6;
}

.active .short {
    background-color: #d6d6d6;
}

.active .short h3 {
    color: black;
}

.active .long {
    display: flex;
}

/* Second Main Block */

.magic-block {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.magic-block h2, .magic-block>p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 85vw;
    max-width: 950px;
}

.magic-block h2 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.magic-block p {
    color: gray;
    margin-bottom: 2.4rem;
}

.magic-container {
    display: flex;
    margin: 0 auto;
    width: 90vw;
    max-width: 1300px;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.magic-col {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.magic-item {
    padding: 1rem;
    width: 100%;
    background-color: #d6d6d6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.magic-item img {
    width: 100%;
    border-radius: 30px;
}

.magic-item h3 {
    font-size: 1.2rem;
    font-weight: 300;
}

/*Third Block */

.black-block {
    background-image: url(https://cdn.prod.website-files.com/66563d83090173fa830e5776/67e2d6f6047473865af5a62e_security-bg.jpg);
    border-radius: 30px;
    background-size: cover;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    max-width: 1300px;
}

.black-block h2 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    color: #ececec;
    text-align: left;
}

#black-para {
    color: #a6a6a6;
    text-align: left;
    margin-bottom: 2rem;
    max-width: 400px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.card {
    background-color: #39373785;
    color: #ececec;
    border-radius: 30px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    background-color: #504d4d;
    border-radius: 50%;
    margin-bottom: 2.8rem;
}

.description h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.description p {
    color: #a6a6a6;
}

footer {
    background: url(https://cdn.prod.website-files.com/66563d83090173fa830e5776/67e320b203ebc70461f42389_footer-bg.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer::before {
    content: "";
    background: linear-gradient(#ececec 0.05%, rgba(252, 252, 252, 0));
    position: absolute;
    inset: 0;
    z-index: -1;
}

footer h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin-top: 2.5rem;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

footer>p {
    text-align: center;
    color: gray;
    max-width: 300px;
    margin: 1rem auto;
}

.last-get-started {
    background-color: #fff;
    margin: 2rem auto 0;
    width: 90vw;
    max-width: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2.5rem;
}

.last-get-started p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.last-get-started span {
    font-size: 2.5rem;
}

.last-get-started p:nth-child(2){
    font-weight: 500;
}

.last-get-started-btn {
    background-color: #d2d2d2;
    color: rgb(84, 84, 84);
    padding: 1rem;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.demo-para {
    color: rgb(224, 224, 224);
    font-size: 0.9rem;
    margin-bottom: 5rem;
}

.demo-link {
    text-decoration: underline;
    color: rgb(224, 224, 224);
    font-size: 0.9rem;
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 90vw;
    max-width: 1300px;
    gap: 3rem;
    margin-bottom: 4rem;
}

.footer-cols {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    width: auto;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-col ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-row p,
.footer-row a, 
.footer-row li,
.footer-row i,
.footer-row h4 {
    color: rgb(239, 239, 239);
}

.footer-row p,
.footer-row a, 
.footer-row li,
.footer-row i {
    opacity: 0.8;
}

.comm {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.social-media {
    display: flex;
    gap: 1rem;
    margin-top: 0.7rem;
}

@media (max-width: 990px) {
    .menu-btn {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    h1 {
        font-size: 36px;
    }

    .hero-block p {
        font-size: 16px;
    }
}

@media (min-width: 991px) {
    .hero-btn-one, .hero-btn-two {
        font-size: 1.2rem;
    }

    .flow-wrapper {
        display: flex;
        gap: 0;
        margin: 0 auto;
        width: 90vw;
        max-width: 1300px;
        height: auto;
    }

    .flow-block h2, .flow-block>p {
        text-align: center;
    }

    .flow-block h2 {
        font-size: 3rem;
        margin-top: 2.5rem;
    }

    .flow-block>p {
        font-size: 1.5rem;
        max-width: 450px;
        margin-bottom: 2rem;
    }

    .flow-container {
        width: 50%;
        margin-left: 0;
    }

    .flow-item {
        width: 100%;
    }

    .side-img {
        background-image: url(https://cdn.prod.website-files.com/66563d83090173fa830e5776/67e58e8e84f70d9a28544475_sales-bg.jpg);
        height: auto;
        width: 50%;
        border-radius: 30px;
        display: block;
        overflow: auto;
        background-size: cover;
        margin: 3rem 0 3rem 0.7rem;
    }

    /*Second Block Responsive */

    .magic-block h2, .magic-block>p {
        text-align: center;
    }

    .magic-block h2 {
        font-size: 3rem;
        margin-top: 2.5rem;
    }

    .magic-block>p {
        font-size: 1.5rem;
        max-width: 450px;
        margin-bottom: 3.5rem;
    }

    .magic-col {
        width: 48%;
        height: auto;
    }

    .magic-item {
        height: 100%;
        padding: 1.5rem;
    }

    .magic-item h3 {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .magic-item p {
        font-size: 1.2rem;
    }

    /*Third Block Responsive */

    .black-block {
        padding: 2.5rem;
    }

    .black-block h2 {
        font-size: 3rem;
    }

    #black-para {
        font-size: 1.5rem;
        max-width: 600px;
        margin-bottom: 2.8rem;
    }

    .cards {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
        height: auto;
    }

    .card {
        height: 200px;
        transition-duration: 0.4s;
    }

    .card:hover {
        background-color: #393737;
        transform: translate(0px, -6px);
    }

    footer h2 {
        font-size: 3rem;
        max-width: 450px;
        margin-top: 7rem;
    }

    footer>p {
        font-size: 1.5rem;
        max-width: 450px;
        margin-bottom: 3rem;
    }

    .last-get-started p {
        font-size: 1.8rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .last-get-started span {
        font-size: 5rem;
    }

    .last-get-started-btn {
        font-size: 1.2rem;
    }

    .last-get-started {
        gap: 2rem;
    }

    .last-get-started p:nth-child(2) {
        margin-top: -2rem;
    }

    .footer-col>ul>li>a:hover {
        opacity: 1;
        color: #fff;
    }

    .footer-col>ul>li>a {
        transition-duration: 0.4s;
    }

    .comm i:hover {
        opacity: 1;
        color: white;
    }

    .comm i {
        transition-duration: 0.4s;
    }

    .comm a:hover {
        opacity: 1;
        color: white;
    }

    .comm a {
        transition-duration: 0.4s;
    }

    .last-get-started-btn:hover {
        background-color: rgb(57, 57, 57);
        color: #ececec;
    }

    .last-get-started-btn {
        transition-duration: 0.4s;
    }

    .demo-link:hover {
        opacity: 1;
        color: white;
    }

    .demo-link {
        transition-duration: 0.4s;
    }

    .demo-para {
        margin-bottom: 7rem;
    }

    .footer-row {
        margin-bottom: 10rem;
    }

}